<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body><p>.icon-gplus:before { content: '\e800'; } /* '&icirc;&nbsp;&#128;' */
.icon-stumbleupon:before { content: '\e801'; } /* '&icirc;&nbsp;&#129;' */
.icon-pinterest:before { content: '\e802'; } /* '&icirc;&nbsp;&#130;' */
.icon-digg:before { content: '\e803'; } /* '&icirc;&nbsp;&#131;' */
.icon-spotify:before { content: '\e804'; } /* '&icirc;&nbsp;&#132;' */
.icon-reddit:before { content: '\e805'; } /* '&icirc;&nbsp;&#133;' */
.icon-dribbble:before { content: '\e806'; } /* '&icirc;&nbsp;&#134;' */
.icon-flickr:before { content: '\e807'; } /* '&icirc;&nbsp;&#135;' */
.icon-weibo:before { content: '\e808'; } /* '&icirc;&nbsp;&#136;' */
.icon-linkedin:before { content: '\e809'; } /* '&icirc;&nbsp;&#137;' */
.icon-vk:before { content: '\e80a'; } /* '&icirc;&nbsp;&#138;' */
.icon-twitter:before { content: '\e80b'; } /* '&icirc;&nbsp;&#139;' */
.icon-youtube:before { content: '\e80c'; } /* '&icirc;&nbsp;&#140;' */
.icon-vimeo:before { content: '\e80d'; } /* '&icirc;&nbsp;&#141;' */
.icon-xing:before { content: '\e80e'; } /* '&icirc;&nbsp;&#142;' */
.icon-email:before { content: '\e80f'; } /* '&icirc;&nbsp;&#143;' */
.icon-call:before { content: '\e810'; } /* '&icirc;&nbsp;&#144;' */
.icon-facebook:before { content: '\e811'; } /* '&icirc;&nbsp;&#145;' */
.icon-github-circled:before { content: '\e812'; } /* '&icirc;&nbsp;&#146;' */
.icon-soundcloud:before { content: '\e813'; } /* '&icirc;&nbsp;&#147;' */
.icon-tumblr:before { content: '\e814'; } /* '&icirc;&nbsp;&#148;' */
.icon-cart:before { content: '\e815'; } /* '&icirc;&nbsp;&#149;' */
.icon-instagram:before { content: '\e817'; } /* '&icirc;&nbsp;&#151;' */
.icon-pencil:before { content: '\e819'; } /* '&icirc;&nbsp;&#153;' */
.icon-user:before { content: '\e81b'; } /* '&icirc;&nbsp;&#155;' */
.icon-search:before { content: '\e81c'; } /* '&icirc;&nbsp;&#156;' */
.icon-menu:before { content: '\f0c9'; } /* '&iuml;&#131;&#137;' */
.icon-foursquare:before { content: '\f180'; } /* '&iuml;&#134;&#128;' */
.icon-trello:before { content: '\f181'; } /* '&iuml;&#134;&#129;' */
.icon-behance:before { content: '\f1b4'; } /* '&iuml;&#134;&acute;' */
.icon-birthday:before { content: '\f1fd'; } /* '&iuml;&#135;&frac12;' */
.icon-shopping-bag:before { content: '\f290'; } /* '&iuml;&#138;&#144;' */</p></body></html>
